<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>patient_reg</servlet-name>
        <servlet-class>Controller.patient_reg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>patient_reg_offline</servlet-name>
        <servlet-class>Controller.patient_reg_offline</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Employee_reg</servlet-name>
        <servlet-class>Controller.Employee_reg</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>patient_reg</servlet-name>
        <url-pattern>/patient_reg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>patient_reg_offline</servlet-name>
        <url-pattern>/patient_reg_offline</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Employee_reg</servlet-name>
        <url-pattern>/Employee_reg</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
